/* src/Home.module.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 60px); /* Full viewport height minus navbar height */
    position: relative;
  }
  
  .landingContainer{
    margin-top: 60px;
  }

  .landingImg {
    width: 100%;
    height: 100%;
    object-fit: fill; /* Ensures the image covers the container */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Places the image behind other content */
  }
  
  .landingContent {
    text-align: center;
    color: #fff;
    position: relative; /* Ensure content appears above the image */
    background: rgba(0, 0, 0, 0.4); /* Darker semi-transparent background for better contrast */
    backdrop-filter: blur(8px); /* Apply blur effect */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow */
  }
  
  .landingContent h1 {
    font-size: 2.6rem;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add text shadow for better readability */
  }
  
  .landingContent p {
    font-size: 1.2rem;
    margin: 1rem 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add text shadow for better readability */
  }
  
  .landingButton {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #fff;
    color: black; /* Match button color to theme */
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 900;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .landingButton:hover {
    background-color: #ddd;
    color: #333;
  }
  
  .Products{
    width: 100%;
    height: 100vh;
  }

  /* Responsive styles */
@media (max-width: 1024px) {
  .landingContent {
    padding: 1.5rem;
  }

  .landingContent h1 {
    font-size: 2.2rem;
  }

  .landingContent p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .landingContent {
    padding: 1rem;

  }

  .landingContent h1 {
    font-size: 1.8rem;
  }

  .landingContent p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .landingContent {
    padding: 0.8rem;
  }

  .landingContent h1 {
    font-size: 1.5rem;
    margin: 0;
  }

  .landingContent p {
    font-size: 0.8rem;
    margin: 0;
  }
  .landingContent a {
    font-size: 0.8rem;
    padding: 0.6rem;
  }
}