/* General styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  
  /* Container styles */
  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
    position: relative;
    background-color: #65858a;
  }
  
  /* Card styles */
  .card {
    width: 450px;
    height: 450px;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
    overflow: hidden;
    border-radius: 10px;
  }
  
  /* First card background */
  .card:first-child {
    background-image: url('../assets/girl.jpg');
  }
  
  /* Second card background */
  .card:last-child {
    background-image: url('../assets/boy.jpg');
  }
  
  /* Overlay styles */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #fff;
    font-size: 3.5rem;
    
  }
  
  /* Hover effect on card */
  .card:hover .overlay {
    opacity: 1;
  }
  
  /* Blur effect */
  .blur .card:not(:hover) {
    filter: blur(5px);
  }
  
  /* When card is hovered, scale up */
  .card:hover {
    transform: scale(1.05);
  }
  
  /* Responsive styles */
  @media (max-width: 1024px) {
    .card {
      width: 250px;
      height: 350px;
    }
  
    .overlay {
      font-size: 1.8rem;
    }
  }

  @media (max-width: 768px) {
    .cardContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .card {
      width: 200px;
      height: 200px;
    }
  
    .overlay {
      font-size: 1.5rem;
    }
  }
  
